/* menu-box */

position: absolute;
width: 1400.27px;
height: 60px;
left: 260px;
top: 68px;



/* logo-mark-h */

position: absolute;
left: 13.54%;
right: 83.43%;
top: 2.83%;
bottom: 94.67%;



/* logo-mark-p1 */

position: absolute;
left: 14.62%;
right: 84.51%;
top: 3.87%;
bottom: 95.61%;

background: #37B676;


/* logo-mark-p2 */

position: absolute;
left: 13.77%;
right: 85.19%;
top: 2.83%;
bottom: 96.32%;

background: #1C1C1C;


/* logo-mark-p3 */

position: absolute;
left: 13.54%;
right: 83.43%;
top: 4.07%;
bottom: 94.67%;

background: #37B676;


/* logo-mark-p4 */

position: absolute;
left: 15.3%;
right: 83.66%;
top: 2.83%;
bottom: 96.32%;

background: #1C1C1C;


/* logo-text-h */

position: absolute;
width: 141.67px;
height: 34.03px;
left: 378px;
top: 80px;



/* logo-text-p1 */

position: absolute;
left: 19.69%;
right: 78.14%;
top: 3.47%;
bottom: 95.37%;

background: #1C1C1C;


/* logo-text-p2 */

position: absolute;
left: 21.64%;
right: 78.18%;
top: 4.42%;
bottom: 95.47%;

background: #1C1C1C;


/* logo-text-p3 */

position: absolute;
left: 22.31%;
right: 75.81%;
top: 3.4%;
bottom: 95.25%;

background: #1C1C1C;


/* logo-text-p4 */

position: absolute;
left: 22.79%;
right: 72.93%;
top: 3.33%;
bottom: 95.26%;

background: #1C1C1C;


/* menu-acasa */

position: absolute;
width: 102px;
height: 18px;
left: 1159px;
top: 88px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

color: #909090;



/* menu-galerie */

position: absolute;
width: 112px;
height: 18px;
left: 1261px;
top: 88px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

color: #909090;



/* menu-preturi */

position: absolute;
width: 110px;
height: 18px;
left: 1373px;
top: 88px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

color: #1C1C1C;



/* shape-telefon */

position: absolute;
width: 176.82px;
height: 60px;
left: 1483.45px;
top: 68px;

border: 2px solid #37B676;
box-sizing: border-box;
border-radius: 100px;


/* menu-telefon */

position: absolute;
width: 177px;
height: 18px;
left: 1483px;
top: 88px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;
text-align: center;

color: #37B676;



/* title */

position: absolute;
width: 499px;
height: 35px;
left: 260px;
top: 235px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 37px;

color: #1C1C1C;



/* divider-line */

position: absolute;
width: 1400px;
height: 0px;
left: 260px;
top: 295px;

border: 1px solid #37B676;


/* description */

position: absolute;
width: 1400px;
height: 23px;
left: 260px;
top: 318px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
/* identical to box height */

color: #1C1C1C;



/* bottom-box */

position: absolute;
width: 1920px;
height: 408px;
left: 0px;
top: 1952px;



/* logo-mark-b */

position: absolute;
left: 13.54%;
right: 83.43%;
top: 81.33%;
bottom: 16.17%;



/* logo-mark-p1 */

position: absolute;
left: 14.62%;
right: 84.51%;
top: 82.37%;
bottom: 17.11%;

background: #FFFFFF;


/* logo-mark-p2 */

position: absolute;
left: 13.77%;
right: 85.19%;
top: 81.33%;
bottom: 17.82%;

background: #292929;


/* logo-mark-p3 */

position: absolute;
left: 13.54%;
right: 83.43%;
top: 82.57%;
bottom: 16.17%;

background: #FFFFFF;


/* logo-mark-p4 */

position: absolute;
left: 15.3%;
right: 83.66%;
top: 81.33%;
bottom: 17.82%;

background: #292929;


/* logo-text-b */

position: absolute;
width: 141.67px;
height: 34.03px;
left: 378px;
top: 1964px;



/* logo-text-p1 */

position: absolute;
left: 19.69%;
right: 78.14%;
top: 81.97%;
bottom: 16.87%;

background: #FFFFFF;


/* logo-text-p2 */

position: absolute;
left: 21.64%;
right: 78.18%;
top: 82.92%;
bottom: 16.97%;

background: #FFFFFF;


/* logo-text-p3 */

position: absolute;
left: 22.31%;
right: 75.81%;
top: 81.9%;
bottom: 16.75%;

background: #FFFFFF;


/* logo-text-p4 */

position: absolute;
left: 22.79%;
right: 72.93%;
top: 81.83%;
bottom: 16.76%;

background: #FFFFFF;


/* description */

position: absolute;
width: 600px;
height: 115px;
left: 260px;
top: 2058px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #FFFFFF;



/* placer-icon-1 */

position: absolute;
left: 13.54%;
right: 83.96%;
top: 91.38%;
bottom: 6.62%;

background: #FFFFFF;


/* icon-facebook */

position: absolute;
left: 14.48%;
right: 84.9%;
top: 91.88%;
bottom: 7.09%;

background: #292929;


/* placer-icon-2 */

position: absolute;
visibility: hidden;
left: 18.12%;
right: 79.38%;
top: 91.38%;
bottom: 6.62%;

background: #FFFFFF;


/* icon-instagram */

position: absolute;
visibility: hidden;
width: 23.98px;
height: 24px;
left: 359.9px;
top: 2205px;



/* instagram-p1 */

position: absolute;
left: 18.74%;
right: 80.01%;
top: 91.88%;
bottom: 7.12%;

background: #1C1C1C;


/* instagram-p2 */

position: absolute;
left: 19.05%;
right: 80.31%;
top: 92.12%;
bottom: 7.37%;

background: #1C1C1C;


/* instagram-p3 */

position: absolute;
left: 19.61%;
right: 80.23%;
top: 92.06%;
bottom: 7.82%;

background: #1C1C1C;


/* placer-icon-3 */

position: absolute;
left: 18.12%;
right: 79.38%;
top: 91.38%;
bottom: 6.62%;

background: #FFFFFF;


/* icon-twitter */

position: absolute;
left: 18.75%;
right: 80%;
top: 91.96%;
bottom: 7.21%;

background: #292929;


/* placer-icon-4 */

position: absolute;
visibility: hidden;
left: 22.7%;
right: 74.8%;
top: 91.38%;
bottom: 6.62%;

background: #FFFFFF;


/* icon-linkedin */

position: absolute;
visibility: hidden;
width: 21.98px;
height: 21.95px;
left: 449.89px;
top: 2205.02px;



/* linkedin-p1 */

position: absolute;
left: 23.45%;
right: 76.28%;
top: 92.17%;
bottom: 7.21%;

background: #292929;


/* linkedin-p2 */

position: absolute;
left: 23.43%;
right: 76.26%;
top: 91.88%;
bottom: 7.88%;

background: #292929;


/* linkedin-p3 */

position: absolute;
left: 23.82%;
right: 75.42%;
top: 92.16%;
bottom: 7.21%;

background: #292929;


/* title-pagini */

position: absolute;
width: 265px;
height: 28px;
left: 999px;
top: 1968px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
/* identical to box height */

color: #FFFFFF;



/* arrow-acasa */

position: absolute;
left: 52.08%;
right: 47.58%;
top: 86%;
bottom: 13.53%;

background: #292929;


/* page-acasa */

position: absolute;
width: 235px;
height: 23px;
left: 1029px;
top: 2058px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
/* identical to box height */

color: #FFFFFF;



/* arrow-servicii */

position: absolute;
left: 52.08%;
right: 47.58%;
top: 88.04%;
bottom: 11.49%;

background: #292929;


/* page-servicii */

position: absolute;
width: 235px;
height: 23px;
left: 1029px;
top: 2107px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
/* identical to box height */

color: #FFFFFF;



/* arrow-preturi */

position: absolute;
left: 52.08%;
right: 47.58%;
top: 90.08%;
bottom: 9.45%;

background: #292929;


/* page-preturi */

position: absolute;
width: 235px;
height: 23px;
left: 1029px;
top: 2156px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
/* identical to box height */

color: #FFFFFF;



/* arrow-contact */

position: absolute;
left: 52.08%;
right: 47.58%;
top: 92.12%;
bottom: 7.41%;

background: #292929;


/* page-contact */

position: absolute;
width: 235px;
height: 23px;
left: 1029px;
top: 2205px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
/* identical to box height */

color: #FFFFFF;



/* title-undegasiti */

position: absolute;
width: 316px;
height: 28px;
left: 1344px;
top: 1968px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
/* identical to box height */

color: #FFFFFF;



/* icon-email */

position: absolute;
left: 70.08%;
right: 28.88%;
top: 87.96%;
bottom: 11.46%;

background: #292929;


/* text-email */

position: absolute;
width: 270px;
height: 23px;
left: 1390px;
top: 2107px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
/* identical to box height */

color: #FFFFFF;



/* icon-phone */

position: absolute;
left: 70.14%;
right: 28.93%;
top: 85.83%;
bottom: 13.42%;

background: #292929;


/* text-phone */

position: absolute;
width: 270px;
height: 23px;
left: 1390px;
top: 2058px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
/* identical to box height */

color: #FFFFFF;



/* icon-location */

position: absolute;
left: 70.24%;
right: 29.04%;
top: 89.92%;
bottom: 9.27%;

background: #292929;


/* text-location */

position: absolute;
width: 270px;
height: 46px;
left: 1390px;
top: 2156px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #FFFFFF;



/* divider-line-bottom */

position: absolute;
width: 1920px;
height: 0px;
left: 0px;
top: 2303px;

border: 1px solid #FFFFFF;


/* text-copyright */

position: absolute;
width: 777px;
height: 23px;
left: 262px;
top: 2337px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
/* identical to box height */

color: rgba(255, 255, 255, 0.5);



/* redirect-anpc */

position: absolute;
width: 113px;
height: 23px;
left: 1039px;
top: 2337px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
/* identical to box height */

color: #FFFFFF;



/* redirect-termeni */

position: absolute;
width: 228px;
height: 23px;
left: 1152px;
top: 2337px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
/* identical to box height */

color: #FFFFFF;



/* redirect-politica */

position: absolute;
width: 280px;
height: 23px;
left: 1380px;
top: 2337px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
/* identical to box height */

color: #FFFFFF;

